doctype html
html
	head
		title Dev Challenge: Photos
		meta(meta charset="utf-8")
		link(rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="Assets/devchallenge-styles.css")
	body
		include navbar.jade
		h1.white.text-center Photos
		div.cards.cardHolder
			div.card.photo-icon
				#{photo1}
			div.card.photo-icon
				#{photo2}
			div.card.photo-icon
				#{photo3}
			div.card.photo-icon
				#{photo4}
			div.card.photo-icon
				#{photo5}
			div.card.photo-icon
				#{photo6}